<div class="container">
  <div class="row">
    <div class="col-sm mt-5">
      <img src="assets/img/france-752123_960_720.jpg">
    </div>

    <div class="col-sm">
      <div class="input-group mt-5 ">

        <input name="Title"
               [(ngModel)]="book.title"
               type="text"
               class="form-control"
               placeholder="Заглавие"
               aria-label="Заглавие"
               aria-describedby="basic-addon1">
      </div>

      <div class="input-group mt-2">
        <span class="input-group-text">Резюме</span>
        <textarea class="form-control"
                  [(ngModel)]="book.description"
                  aria-label="With textarea"></textarea>

        <div class="input-group mt-2">
          <select class="form-control"
                  id="genre"
                  required
                  [(ngModel)]="book.genreId"
                  (ngModelChange)="book.genreId = $event"
                  name="genre">
            <option [ngValue]="undefined"
                    disabled
                    selected>Жанр</option>
            <option *ngFor="let genre of genres$ | async"
                    [ngValue]="genre.id">
              {{genre.name}}
            </option>
          </select>
        </div>

        <div class="input-group mt-2">
          <select class="form-control"
                  id="author"
                  required
                  [(ngModel)]="book.authorId"
                  (ngModelChange)="book.authorId = $event"
                  name="author">
            <option [ngValue]="undefined"
                    disabled
                    selected>Автор</option>
            <option *ngFor="let author of authors$ | async"
                    [ngValue]="author.id">
              {{author.firstName}}{{author.lastName}}
            </option>
          </select>
        </div>


        <div class="input-group mt-3">
          <span class="input-group-text"
                id="basic-addon3">https://pictureexample</span>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="book.imgPath"
                 id="basic-url"
                 aria-describedby="basic-addon3">
        </div>

        <div class="input-group mt-3 ">
          <span class="input-group-text">$</span>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="book.price"
                 aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>

        <button (click)="save()"
                routerLink="/books"
                class="buttom mt-3"
                routerLinkActive="activebutton">Запази</button>


      </div>

    </div>
  </div>
</div>
