<div class="form-group">
  <label for="usr">Заглавие</label>
  <input name="description"
         [(ngModel)]="book.title"
         class="form-control">
</div>
<div class="form-group">
  <label for="usr">Резюме:</label>
  <input name="description"
         [(ngModel)]="book.description"
         class="form-control">

  <div class="form-group">
    <label for="usr">Издателство:</label>
    <input name="description"
           [(ngModel)]="book.publisher"
           class="form-control">

    <div class="form-group">
      <label for="genre">Жанр</label>
      <select class="form-control"
              id="genre"
              required
              [(ngModel)]="book.genre"
              (ngModelChange)="book.genreId = $event?.id"
              name="genre">
        <option *ngFor="let genre of genres$ | async"
                [ngValue]="genre">
          {{genre.name}}
        </option>
      </select>

      <div class="form-group">
        <label for="author">Автор</label>
        <select class="form-control"
                id="author"
                required
                [(ngModel)]="book.authorId"
                (ngModelChange)="book.authorId = $event?.id"
                name="author">
          <option *ngFor="let author of authors$ | async"
                  [ngValue]="author">
            {{author.firstName}} {{ author.lastName }}
          </option>
        </select>

        <div class="form-group">
          <label for="usr">Картинка:</label>
          <input name="description"
                 [(ngModel)]="book.imgPath"
                 class="form-control">
        </div>
        <button (click)="save()"
                routerLink="/books"
                routerLinkActive="activebutton">Запази</button>
