.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: .6;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 400;
  width: 500;
}

.card-body {
  color: aliceblue;
}

.card {
  background-color: #216669;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.img-wrapper {
  overflow: hidden;
}

#background {
  background-color: #6f878d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
