<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="text-center pt-5">
        <h2 class="display-6 pt-5">КОНТАКТИ</h2>
      </div>
      <div class="text-center pt-2">
        <h2 class="lead"> Онлайн книжарница BOOKOHOLIC</h2>
      </div>
      <div class="text-center pt-4">
        <p class="lead">
          <span id="work"> Работно време:</span><br>
          от Понеделник до Петък,<br>
          от 09:00 до 17:00 ч.<br>
          Почивни дни: Събота, Неделя и официални празници.<br>
          гр. София, ул. „Поручик Христо Топракчиев“ 11, 1528 НПЗ Искър,<br>
          Книжна борса Искър, ет. 3, офис 33
        </p>
      </div>
    </div>
    <div class="col-sm pr-5">
      <h1 class="pt-5 text-center">Добре дошли в света на онлайн книжарница Сиела!</h1>
      <p>
        Тук ще откриете огромен избор от книги, електронни издания, специализирана и детска литература, учебници и
        учебни помагала, филми, музика, офис артикули, играчки за деца, пъзели, продукти за вашето здраве и още много
        интересни и атрактивни продукти на ниски цени.</p>
      <p>
        На BOOKOHOLIC.com може да поръчате бързо и лесно едни от най-вълнуващите творби, хитови бестселъри, класически
        произведения и горещи, актуални издания.
      </p>
    </div>

    <div class="pl-5 pr-5">
      <p class="pt-3">
        Ние сме
        една от най-големите и развити книжни вериги в България с 17 собствени книжарници. Първият ни обект отвори врати
        през 2006 г. и оттогава не спираме да се развиваме, да предлагаме и доставяме качествени продукти на нашите
        клиенти.</p>

      <p>
        Главни раздели
        В онлайн магазина на BOOKOHOLIC ще намерите каталог с огромен асортимент. Основните раздели са Книги, Музика,
        Филми,
        Е-книги, Четци, Други и Промо зона.</p>

      <p>
        1. В категория Книги ще може да изберете и поръчате заглавията, които ви вълнуват на промоционално ниски цени.
        Тук може да закупите всички творби на издателство BOOKOHOLIC с големи отстъпки.</p>
      <p> 2. В раздела с музикални дискове ще попаднете на селекция с албуми на едни от най-известните и обичани
        изпълнители както в България, така и в световен план.</p>
      <p>3. В категория Филми може да поръчате онлайн дискове с популярни и актуални кинохитове. Жанровото разнообразие
        тук е огромно – екшън, драма, приключенски, криминален, трилър, ужаси, фентъзи, фантастика, детски, романтични,
        комедии, биографични и исторически продукции.</p>
      <p>4. В Е-книги може да купите най-новите и интересни издания в дигитален формат, които се предлагат на книжния
        пазар.</p>
      <p>
        5. В категория Други са всички продукти за детето и семейството, учебните пособия, офис принадлежности, пъзели и
        конструктори, настолни игри, продукти за вашето здраве и много други занимателни предмети.</p>
      <p>6. В Промо зона са представени всички издания, които може да поръчате на промоционално ниски цени.
        Защо да пазарувате от нас:
        Защото всички книги на издателство BOOKOHOLIC и издателство Deja Book, при нас ще намерите със специална
        отстъпка от
        10%, а за всички предстоящи заглавия на издателство Сиела може да ползвате 20% при предварителна заявка.
        Защото тук може да изберете и да подредите всички издания по категория, издателство, автор, цена, език, за да
        може да откриете и поръчате възможно най-бързо желаната от Вас творба.
        Защото всички клиенти на онлайн книжарница BOOKOHOLIC - BOOKOHOLIC.com, могат да се възползват от безплатна
        доставка за
        поръчки над 50 лв. в рамките на България.
        Къде да ни откриете
      </p>
      <p>Книжарници BOOKOHOLIC са партньор и изключителен доставчик на издания в търговски вериги, бензиностанции и
        хипермаркети, разположени на територията на цялата страна.</p>
    </div>

  </div>
</div>
